<div>
  Ingresa tu email
    <form id="formulario" method="POST" action="/mail/sendemail">
    <li>
      <label for="email">Email: </label>
      <input type="text" id="email" name="email" />
    </li>
    <li class="button">
      <button type="submit">Recuperar password</button>
    </li>
  </form>
</div>