<div>
    <form id="formulario" method="POST" action="/api/sessions/registro">
        <li>
            <label for="first_name">Nombre: </label>
            <input type="text" id="first_name" name="first_name">
        </li>
        <li>
            <label for="last_name">Apellido: </label>
            <input type="text" id="last_name" name="last_name">
        </li>
        <li>
            <label for="email">email: </label>
            <input type="text" id="email" name="email">
        </li>
        <li>
            <label for="age">Edad: </label>
            <input type="text" id="age" name="age">
        </li>        
        <li>
            <label for="password">Password: </label>
            <input type="text" id="password" name="password">
        </li>
        <li class="button">
            <button type="submit">Registrar</button>
        </li>
    </form>
</div>